[defaults]
inventory = host.ini
host_key_checking = True
retry_files_enabled = False
gather_facts = True
timeout = 30

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
